.care__inner {
  @include mobile-center;

  min-height: 966px;
}

.care__title {
  padding-top: 58px;
}

.care__header {
  font-size: 18px;
  font-family: inherit;
  font-weight: bold;
  color: $main-orange;
}

.care__list {
  @include mobile-center;
}

.care {
  background-image: url("../images/gray-cat-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.care__item {
  position: relative;

  margin-bottom: 30px;
  padding: 25px 70px 18px 25px;

  // height: 152px;
  border: 1px solid $main-orange;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 46px;
    height: 100%;

    background-color: $main-orange;
    background-image: url("../images/svg/icon-arrow-details.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.care__link {
  display: block;

  font-size: 14px;
}


.care__link-header {
  margin-bottom: 19px;

  color: $main-orange;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.care__link-content {
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.care__btn {
  flex-shrink: 0;

  width: 46px;
  height: auto;

  background-color: $main-orange;
  border: none;
}
